@model Airlinemaker.Data.Flight

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <div class="form-group">
                <label asp-for="DepartLoc" class="control-label"></label>
                <input asp-for="DepartLoc" class="form-control" />
                <span asp-validation-for="DepartLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveLoc" class="control-label"></label>
                <input asp-for="ArriveLoc" class="form-control" />
                <span asp-validation-for="ArriveLoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartDate" class="control-label"></label>
                <input asp-for="DepartDate" class="form-control" />
                <span asp-validation-for="DepartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveDate" class="control-label"></label>
                <input asp-for="ArriveDate" class="form-control" />
                <span asp-validation-for="ArriveDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartTime" class="control-label"></label>
                <input asp-for="DepartTime" class="form-control" />
                <span asp-validation-for="DepartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArriveTime" class="control-label"></label>
                <input asp-for="ArriveTime" class="form-control" />
                <span asp-validation-for="ArriveTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerLimit" class="control-label"></label>
                <input asp-for="PassengerLimit" class="form-control" />
                <span asp-validation-for="PassengerLimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
